* {
    font-family: monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: #c3ada8;
    width: 100%;
    height: 100vmax;
    
}

header {
    background-color: #7a85a1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 20px;
    font-size: 40px;
    color: #2e2423;
}

.top-nav {
    text-align: right;
    padding-right: 40px;
    padding-bottom: 5px;
    font-size: 15px;
    
}

.top-nav a {
    color: #2e2423;
    padding: 13px;
}

.top-nav a:hover {
    background-color: #914c3e;
    color: black;
  }

  h2 {
    font-size: 25px;
    padding: 5px;
  }

  .btn-group button {
    background-color:  #3a4460;
    border: 2.5px solid #040405;
    color: #c3ada8;
    padding: 10px 24px;
    cursor: pointer;
    width: 15%;
    display:inline-block;
    height: 80px;
    font-size: 25px;
    margin-left: 1%;
  }
  
  .btn-group button:not(:last-child) {
    border-bottom: none;
  }
  
  .btn-group button:hover {
    background-color: #1d2557;
  }

h3 {
    font-size: 17px;
    padding-bottom: 20px;
    text-align: center;
}
  
.container {
    width: 25%;
    border: solid black 3px;
    margin-top: 20px;
    margin-left: 5px;
  }

ul {
    list-style-type: none;
}

form {
    margin: 30px;
    color: #2e2423;
}
    
input {
    width: 100%;
    margin-bottom: 15px;
  }

select {
    width: 80%;
    margin-bottom: 15px;
}

#submit-btn {
    height: 25px;
    width: 70px;
    font-size: 17px;
}

#submit-btn:hover {
    background-color: #914c3e;
}

#workout-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.workout-card {
  display: flex;
  justify-content: center;
  border: 3px solid black;
  margin: 10px;
  background-color: #7a85a1;
  color: #2e2423;
}

.delete-btn {
  background-color: #626a92;
}

.delete-btn:hover {
    background-color: #914c3e;
}


